/* ==========================================================================
   Backgrounds
   ========================================================================== */

// Common variables
@url-images: "../images";
@url-icons: "@{url-images}/icons";

/**
 * Linear Gradient
 * https://css-tricks.com/css3-gradients/
 * https://drafts.csswg.org/css-images-3/#linear-gradients
 */
.linear-gradient(@angle: 180deg; @colors) {
    @angle-new: mod(convert(@angle, deg), 360);
    @angle-old: 90deg - @angle-new;
    @angle-index: round(unit(@angle-new / 45)) + 1;

    @directions: top, top right, right, bottom right, bottom, bottom left, left, top left;
    @direction: extract(@directions, @angle-index);

    .svg-gradient(@direction: to @direction; @colors: @colors); // IE 9
    background-image: -webkit-linear-gradient(@angle-old, @colors); // Chrome 25-10, Safari 6-5.1
    background-image:    -moz-linear-gradient(@angle-old, @colors); // Firefox 15-3.6
    background-image:      -o-linear-gradient(@angle-old, @colors); // Opera 12-11.1
    background-image:         linear-gradient(@angle-new, @colors); // Chrome 26+, Firefox 16+, IE 10+, Safari 6.1+, Opera 12.1+
};

/**
 * Radial Gradient
 * https://css-tricks.com/css3-gradients/
 * https://drafts.csswg.org/css-images-3/#radial-gradients
 */
.radial-gradient(@shape: ellipse; @size: ~""; @position: center; @colors) {
    .svg-gradient(@direction: @shape at @position; @colors: @colors); // IE 9
    background-image: -webkit-radial-gradient(@position, @shape @size, @colors); // Chrome 25-10, Safari 6-5.1
    background-image:    -moz-radial-gradient(@position, @shape @size, @colors); // Firefox 15-3.6
    background-image:      -o-radial-gradient(@position, @shape @size, @colors); // Opera 12-11.6
    background-image:         radial-gradient(@shape @size at @position, @colors); // Chrome 26+, Firefox 16+, IE 10+, Safari 6.1+, Opera 12.1+
}

/**
 * SVG Gradient
 * http://lesscss.org/functions/#misc-functions-svg-gradient
 */
.svg-gradient(@direction; @colors) when
    (@direction = ~"to bottom"),
    (@direction = ~"to right"),
    (@direction = ~"to bottom right"),
    (@direction = ~"to top right"),
    (@direction = ~"ellipse"),
    (@direction = ~"ellipse at center") {
    background-image: svg-gradient(@direction, @colors);
}

/**
 * Vertical Gradient (from top to bottom side)
 *
 * @example
 */
.vertical-gradient(@colors) {
    .linear-gradient(@angle: 180deg; @colors: @colors);
}

/**
 * Horizontal Gradient (from left to right side)
 *
 * @example
 */
.horizontal-gradient(@colors) {
    .linear-gradient(@angle: 90deg; @colors: @colors);
}

/**
 * Diagonal Top Gradient (from bottom left to top right corner)
 *
 * @example
 */
.diagonal-top-gradient(@colors) {
    .linear-gradient(@angle: 45deg; @colors: @colors);
}

/**
 * Diagonal Bottom Gradient (from top left to bottom right corner)
 *
 * @example
 */
.diagonal-bottom-gradient(@colors) {
    .linear-gradient(@angle: 135deg; @colors: @colors);
}