/* ==========================================================================
   Borders
   ========================================================================== */

/**
 * Border Image
 */
.border-image(@value) {
    -webkit-border-image: @value; // Chrome 15-, Safari 5.1-
       -moz-border-image: @value; // Firefox 14-3.5
         -o-border-image: @value; // Opera 12.1-11.5
            border-image: @value; // Chrome 16+, Firefox 15+, IE 11+, Safari 6+, Opera 15+
}

/**
 * Border Radius
 */
.border-radius(@value) {
    -webkit-border-radius: @value; // Chrome 4-, Safari 4-
       -moz-border-radius: @value; // Firefox 3.6-
            border-radius: @value; // Chrome 5+, Firefox 4+, IE 9+, Safari 5+, Opera 11.5+
}

/**
 * Box Shadow
 */
.box-shadow(@value) {
    -webkit-box-shadow: @value; // Chrome 9-, Safari 5-
       -moz-box-shadow: @value; // Firefox 3.6-3.5
            box-shadow: @value; // Chrome 10+, Firefox 4+, IE 9+, Safari 5.1+, Opera 11.5+
}