/**
 * Box
 * @module box
 * {@link http://www.w3.org/TR/css3-box/ Specification}
 * =====================================================================================================================
 */

/**
 * Box Sizing
 *
 * @example
 * .box-sizing(border-box);
 */
.box-sizing(@value) {
    -webkit-box-sizing: @value; // Chrome 9-, Safari 5-
       -moz-box-sizing: @value; // Firefox 28-
            box-sizing: @value; // Chrome 10+, Firefox 29+, IE 8+, Safari 5.1+, Opera 10+
}

/**
 * Clear Fix
 * {@link http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best Stack Overflow}
 *
 * @example
 * .clearfix();
 */
.clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Inline Block Middle
 *
 * @example
 * .inline-block-middle();
 */
.inline-block-middle() {
    display: inline-block;
    vertical-align: middle;
}

/**
 * Inline Block Top
 *
 * @example
 * .inline-block-top();
 */
.inline-block-top() {
    display: inline-block;
    vertical-align: top;
}