/* ==========================================================================
   Fonts
   ========================================================================== */

// Common variables
@font-path: "../fonts/";
@font-name: Roboto; // NOTE: use quotes, if name contains whitespaces
@font-family: @font-name, Helvetica, Arial, sans-serif;

/**
 * Font Face
 * https://css-tricks.com/snippets/css/using-font-face/
 *
 * @example
 * .font-face(@file: roboto-regular-webfont);
 * .font-face(@file: roboto-medium-webfont; @weight: 500);
 * .font-face(@file: roboto-italic-webfont; @style: italic);
 *
 */
.font-face(@file; @name: @font-name; @weight: 400; @style: normal) {
    @font-face {
        font-family: @name;
        src: url("@{font-path}@{file}.woff2") format("woff2"), // Chrome 36+, Firefox 39+, Opera 23+
             url("@{font-path}@{file}.woff") format("woff"), // Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, Opera 11.5+
             url("@{font-path}@{file}.ttf")  format("truetype"); // Chrome 4+, Firefox 3.5+, Safari 3.1+, Opera 10.1+
        font-weight: @weight;
        font-style: @style;
    }
}

/**
 * Font
 *
 * @example
 * .font();
 * .font(@weight: 100);
 * .font(@style: italic);
 */
.font(@family: @font-family; @weight: 400; @style: normal) {
    font-family: @family;
    font-weight: @weight;
    font-style: @style;
}

/**
 * Font Thin
 *
 * @example
 * .font-thin();
 */
.font-thin() {
    .font(@weight: 100);
}

/**
 * Font Light
 *
 * @example
 * .font-light();
 */
.font-light() {
    .font(@weight: 300);
}

/**
 * Font Normal
 *
 * @example
 * .font-normal();
 */
.font-normal() {
    .font(@weight: 400);
}

/**
 * Font Regular
 *
 * @example
 * .font-regular();
 */
.font-regular() {
    .font(@weight: 400);
}

/**
 * Font Italic
 *
 * @example
 * .font-italic();
 */
.font-italic() {
    .font(@style: italic);
}

/**
 * Font Medium
 *
 * @example
 * .font-medium();
 */
.font-medium() {
    .font(@weight: 500);
}

/**
 * Font Bold
 *
 * @example
 * .font-bold();
 */
.font-bold() {
    .font(@weight: 700);
}

/**
 * Font Black
 *
 * @example
 * .font-black();
 */
.font-black() {
    .font(@weight: 900);
}