/* ==========================================================================
   Images
   http://www.w3.org/TR/css3-images/
   ========================================================================== */

// Common variables
@images-path: "../images/";

/**
 * Image List
 *
 * @example
 * .image-list(@image: "icons.png"; @list: home, cube, mail, profile, nav, search, map;);
 *
 * @example
 * @file: "context-menu.png";
 * @icons: add, save, edit, remove, cancel;
 * .image-list(@image: @file; @list: @icons; @size: 18;);
 * .image-list(@image: @file; @list: @icons; @size: 18; @row: 2; @after: ~":hover";);
 */
.image-list(@image; @list; @size: 16; @col: 1; @row: 1; @axis: x; @before: ~""; @after: ~"";) {
    & {
        background-image: url("@{images-path}@{image}");
        background-repeat: no-repeat;
    }

    .position(@col, @row);

    .position(@x, @y) when (@@axis <= length(@list)) {
        @icon-name: extract(@list, @@axis);

        @{before}&-@{icon-name}@{after} {
            background-position: unit(-@size * (@x - 1), px) unit(-@size * (@y - 1), px);
        }
    }
    .position(@x, @y) when (@x <= length(@list)) and (@axis = x) {
        .position((@x + 1), @y);
    }
    .position(@x, @y) when (@y <= length(@list)) and (@axis = y) {
        .position(@x, (@y + 1));
    }
}