/* ==========================================================================
   Shapes
   http://www.w3.org/TR/css-shapes-1/
   ========================================================================== */

/**
 * Arrow
 * https://css-tricks.com/snippets/css/css-triangle/
 *
 * @example
 * .arrow(@color: #db5252, @direction: bottom, @base: 12px, @height: 6px);
 */
.arrow(@base, @height: @base * sin(60deg), @color: black, @direction: top) {
    .arrow-direction() when (@direction = top) {
        border-left: @base / 2 solid transparent;
        border-right: @base / 2 solid transparent;
        border-bottom: @height solid @color;
    }

    .arrow-direction() when (@direction = bottom) {
        border-left: @base / 2 solid transparent;
        border-right: @base / 2 solid transparent;
        border-top: @height solid @color;
    }

    .arrow-direction() when (@direction = left) {
        border-top: @base / 2 solid transparent;
        border-bottom: @base / 2 solid transparent;
        border-right: @height solid @color;
    }

    .arrow-direction() when (@direction = right) {
        border-top: @base / 2 solid transparent;
        border-bottom: @base / 2 solid transparent;
        border-left: @height solid @color;
    }

    width: 0;
    height: 0;
    .arrow-direction();
}

/**
 * Arrow <Direction>
 *
 * @example
 * .arrow-up(@base: 100px, @height: 100px, @color: gray);
 * .arrow-down(@base: 100px, @height: 100px, @color: gray);
 * .arrow-left(@base: 100px, @height: 100px, @color: gray);
 * .arrow-right(@base: 100px, @height: 100px, @color: gray);
 */
.arrow-up(@base, @height: @base * sin(60deg), @color: black)    {
    .arrow(@base: @base, @height: @height, @color: @color, @direction: top);
}
.arrow-down(@base, @height: @base * sin(60deg), @color: black)  {
    .arrow(@base: @base, @height: @height, @color: @color, @direction: bottom);
}
.arrow-left(@base, @height: @base * sin(60deg), @color: black)  {
    .arrow(@base: @base, @height: @height, @color: @color, @direction: left);
}
.arrow-right(@base, @height: @base * sin(60deg), @color: black) {
    .arrow(@base: @base, @height: @height, @color: @color, @direction: right);
}

/**
 * Square
 *
 * @example
 * .square(@size: 100px, @color: tomato);
 */
.square(@size, @color: black) {
    .rectangle(@size, @size, @color);
}

/**
 * Rectangle
 *
 * @example
 * .rectangle(@width: 150px, @height: 100px, @color: lightblue);
 */
.rectangle(@width, @height, @color: black) {
    display: block;
    width: @width;
    height: @height;
    background-color: @color;
}

/**
 * Circle
 *
 * @example
 * .circle(@radius: 50px, @color: lightgreen);
 */
.circle(@radius, @color: black) {
    .square(@radius * 2, @color);
    .border-radius(@radius);
}

/**
 * Oval
 *
 * @example
 * .oval(@width: 150px, @height: 100px, @color: gold);
 */
.oval(@width, @height, @color: black) {
    .rectangle(@width, @height, @color);
    .border-radius(@width / 2 ~"/" @height / 2);
}

/**
 * Ring
 *
 * @example
 * .ring(@radius-large: 50px, @radius-small: 30px, @color: chocolate);
 */
.ring(@radius-large, @radius-small, @color: black) {
    display: block;
    width: @radius-small * 2;
    height: @radius-small * 2;
    border: @radius-large - @radius-small solid @color;
    .border-radius(@radius-large);
}

/**
 * Triangle
 *
 * @example
 * .triangle(@base: 100px, @color: lightcyan);
 */
.triangle(@base, @height: @base * sin(60deg), @color: black, @direction: top) {

}

/**
 * Triangle <Direction>
 */
.triangle-up() { }
.triangle-down() { }
.triangle-left() { }
.triangle-right() { }

/**
 * Diamond
 *
 * @example
 * .diamond(@width: 150px, @height: 100px, @color: lightpink);
 */
.diamond(@width, @height, @color: black) {
    @side: sqrt(@width * @width / 4 + @height * @height / 4);

    .diamond-transform() when (@width = @height) {
        @delta: @side;
        .transform(rotate(45deg));
    }

    .diamond-transform() when (default()) {
        @angle: asin(@height / @side / 2);
        @skew: @angle - convert(45deg, rad);
        @delta: @side * cos(@skew);
        .transform(rotate(45deg) skew(@skew, @skew));
    }

    display: block;
    width: @width;
    height: @height;
    position: relative;

    &:before {
        .diamond-transform();

        content: "";
        position: absolute;
        left: (@width - @delta) / 2;
        top: (@height - @delta) / 2;
        width: @delta;
        height: @delta;
        background-color: @color;
    }
}

/**
 * Cross
 */
.cross() {}

/**
 * Heart
 */
.heart() {}

/**
 * Star
 */
.star() {}